```Bài 1: (2 điểm)```

---

In [1]:
import string

# Optional: List out the hexadecimal chars
# Benefit: independence from external libraries
hexdigits = "0123456789abcdef"

def isMACAddress(inputString) -> bool:
    count = 0
    for i in range(len(inputString)):
        if inputString[i] in string.hexdigits:
            count += 1
        
        if inputString[i] == "-":
            if count == 2:
                count = 0
                continue
            else:
                return False
    return True

In [2]:
inputString = "00-1B-63-84-45-E6"
print(isMACAddress(inputString))
inputString = "Z1-1B-63-84-45-E6"
print(isMACAddress(inputString))
inputString = "not a MAC-48 address"
print(isMACAddress(inputString))

True
False
False

```Bài 2: (3 điểm)```

---

**Definition**

In [3]:
class Book:
    def __init__(self, book_name: str, book_author: str, book_stock: int):
        self.book_name = book_name
        self.book_author = book_author
        self.book_stock = book_stock

    def on_borrow_book(self) -> bool:
        if self.book_stock > 0:
            self.book_stock -= 1
            print(f"200 - Successfully borrowed {self.book_name}. Happy reading!")
            print(f"Left in stock: {self.book_stock}")
            return True
        else:
            print(f"Unsuccessful: No {self.book_name} left in stock.")
            return False

    def on_return_book(self):
        self.book_stock += 1
        print("Successful. Thank you for returning")
        print(f"Updated '{self.book_name} stock: {self.book_stock}'")

    def check_stock(self):
        print(f"Checking '{self.book_name}'...")
        print(f"Stock returned for {self.book_name}: {self.book_stock}")
        if self.book_stock > 0:
            return True

In [4]:
class Library:
    def __init__(self):
        # List of books
        self.books = []

        # Advanced: Dictionary of books
        # Benefit: May or may no be easier to manage
        # self.books = {}

    def add_book(self, book_instance: Book):
        self.books.append(book_instance)
        print(f"200 - Successfully added '{book_instance.book_name}' to the library.")

    def remove_book(self, book_name):
        for book in self.books:
            if book.book_name == book_name:
                self.books.remove(book)
                print(f"200 - Removed {book_name} from the library.")
                return
        print(f"Error: '{book_name} not found in the library.'")

    def get_book_info(self, book_name):
        for book in self.books:
            if book.book_name == book_name:
                print(f"Name: {book.book_name}")
                print(f"Author: {book.book_author}")
                print(f"Remaining: {book.book_stock}")

In [5]:
class Member:
    def __init__(self, member_id: str, member_name: str):
        self.member_id = member_id
        self.member_name = member_name
        self.books_borrowed = []
    
    def borrow_book(self, library_instance: Library, book_name):
        for book in library_instance.books:
            if book.book_name == book_name:
                ok = book.on_borrow_book()
                if ok:
                    self.books_borrowed.append(book)
                else:
                    break

    def return_book(self, book_name):
        for book in self.books_borrowed:
            if book.book_name == book_name:
                book.on_return_book()
                self.books_borrowed.remove(book)

**Execution**

In [6]:
library = Library()
library.add_book(Book("Python Programming", "John Smith", 5))
library.add_book(Book("Data Science Essentials", "Alice Johnson", 3))

200 - Successfully added 'Python Programming' to the library.
200 - Successfully added 'Data Science Essentials' to the library.

In [7]:
mem1 = Member("M1", "Rowan Atkinson")
mem2 = Member("M2", "Tô Lâm")

In [8]:
# Thành viên 1 mượn một cuốn sách từ thư viện
print("Thành viên 1 mượn một cuốn sách từ thư viện\n")
mem1.borrow_book(library, "Python Programming")
library.get_book_info("Python Programming")

# Thành viên 2 mượn một cuốn sách từ thư viện
print("\n==============================")
print("Thành viên 2 mượn một cuốn sách từ thư viện\n")
mem2.borrow_book(library, "Python Programming")
library.get_book_info("Python Programming")

# Thành viên 1 trả cuốn sách đã mượn
print("\n==============================")
print("Thành viên 1 trả cuốn sách đã mượn\n")
mem1.return_book("Python Programming")
library.get_book_info("Python Programming")

# Tìm và hiển thị thông tin về một cuốn sách cụ thể trong thư viện
print("\n==============================")
library.get_book_info("Data Science Essentials")
print("\n")
library.get_book_info("Python Programming")

Thành viên 1 mượn một cuốn sách từ thư viện

200 - Successfully borrowed Python Programming. Happy reading!
Left in stock: 4
Name: Python Programming
Author: John Smith
Remaining: 4

==============================
Thành viên 2 mượn một cuốn sách từ thư viện

200 - Successfully borrowed Python Programming. Happy reading!
Left in stock: 3
Name: Python Programming
Author: John Smith
Remaining: 3

==============================
Thành viên 1 trả cuốn sách đã mượn

Successful. Thank you for returning
Updated 'Python Programming stock: 4'
Name: Python Programming
Author: John Smith
Remaining: 4

==============================
Name: Data Science Essentials
Author: Alice Johnson
Remaining: 3


Name: Python Programming
Author: John Smith
Remaining: 4

```Bài 3: (5 điểm)```

---

In [9]:
# Centralized importations
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

3.1. Đọc dữ liệu từ CSV vào DataFrame. Loại bỏ tất cả các dòng có giá trị thiếu (NaN) trong DataFrame

In [ ]:
df = pd.read_csv("us_tech_firms_500.csv")
df_cleaned = df.dropna()
df_cleaned.head()

,Company,Sector,Headquarter_City,State,MarketCap,Revenue,Employees,Founded,IPO_Year,Stock
0,TechCorp_1,Hardware,San Francisco,CO,271.16,260.61,49195,2007,1981.0,TCK1
1,TechCorp_2,FinTech,Miami,TX,1441.80,218.42,39946,1981,1989.0,TCK2
2,TechCorp_3,Cloud Services,Miami,CO,227.25,223.07,11939,1976,1982.0,TCK3
3,TechCorp_4,FinTech,Boston,CA,624.86,128.22,27463,1964,2004.0,TCK4
5,TechCorp_6,AI/ML,Seattle,CO,1495.33,111.94,2511,1970,2021.0,TCK6

In [12]:
rows_dropped = len(df) - len(df_cleaned)
print(f"Số dòng NaN đã được loại bỏ: {rows_dropped}")

Số dòng NaN đã được loại bỏ: 89

3.2. Tính Median của MarketCap toàn bộ tập dữ liệu

In [13]:
median_market_cap = df_cleaned["MarketCap"].median()
print(f"Median MarketCap của toàn bộ tập dữ liệu là: {median_market_cap}")

Median MarketCap của toàn bộ tập dữ liệu là: 749.8

3.3. Tính tổng số công ty theo từng Sector.

In [17]:
sector_counts = df.groupby("Sector").size().reset_index(name="Total_companies")
print(f"Tổng số công ty theo từng Sector:\n\n{sector_counts}")

Tổng số công ty theo từng Sector:

                 Sector  Total_companies
0                 AI/ML               75
1        Cloud Services               77
2         Cybersecurity               86
3               FinTech               75
4              Hardware               97
5  Software Application               90

3.4. Liệt kê 5 bang (State) có số lượng công ty nhiều nhất

In [18]:
top_5_states = df.groupby("State").size().nlargest(5).reset_index(name="Total_companies")
print(f"Top 5 bang có số lượng công ty nhiều nhất:\n\n{top_5_states}")

Top 5 bang có số lượng công ty nhiều nhất:

  State  Total_companies
0    FL               72
1    CA               66
2    NY               66
3    IL               65
4    MA               62

3.5. Công ty có MarketCap lớn nhất và nhỏ nhất là gì? In ra Company, MarketCap, State, Sector

In [27]:
# Index of the company that holds largest MarketCap
max_marketcap_index = df["MarketCap"].idxmax()

# Index of the company that holds smallest MarketCap
min_marketcap_index = df["MarketCap"].idxmin()

# Retrieve information of the companies via indices
max_company = df.loc[max_marketcap_index] # object
min_company = df.loc[min_marketcap_index] # object

resulting_df = pd.DataFrame([max_company, min_company])
# Explanation: [max_company, min_company] is a list of 2 objects
# this converts the list into a DataFrame

output_columns = ["Company", "MarketCap", "State", "Sector"]
final_result = resulting_df[output_columns].reset_index(drop=True)

print("Thông tin công ty có MarketCap lớn nhất và nhỏ nhất:")
final_result

Thông tin công ty có MarketCap lớn nhất và nhỏ nhất:

        Company  MarketCap State         Sector
0  TechCorp_213    1496.91    NY        FinTech
1  TechCorp_327      14.55    IL  Cybersecurity